asn1crypto==0.24.0
click==7.1.2
cryptography==2.1.4
dnspython==1.16.0
enum34==1.1.6
Flask==1.1.2
Flask-Cors==3.0.8
Flask-PyMongo==2.3.0
idna==2.6
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.11.2
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
numpy==1.16.6
Pillow==6.2.2
pycairo==1.16.2
pycrypto==2.6.1
Pygments==2.5.2
pygobject==3.26.1
pymongo==3.10.1
PyPubSub==3.3.0
pyxdg==0.25
robotframework==3.1.2
robotframework-python3==2.9
robotframework-ride==1.7.4.1
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary==4.3.0
SecretStorage==2.3.1
selenium==3.141.0
six==1.14.0
urllib3==1.25.8
Werkzeug==1.0.1
wxPython==4.0.7.post2
wxPython-common==2.8.12.1
